@import url('https://fonts.googleapis.com/css?family=Montserrat|Zilla+Slab&display=swap');

html {
  -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
*, *:before, *:after {
   -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
body {
  margin: 0;
  padding: 0;
}

.screen-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  widows: 100vw;
  background-color: whitesmoke;
}

h1 {
  font-family: "Montserrat";
  color: white;
  margin: 0;
}

h2 {
  font-family: "Montserrat";
  color: white;
  margin: 0;
}

h4 {
  font-family: "Montserrat";
  margin: 0;
  color: white;  
}

p {
  font-family: "Zilla Slab";
  color: white;
  letter-spacing: 0.7px;
  text-align: justify;
  font-size: 1.2rem;
}

.button{
  display: inline-block;
  padding: 8px;
  border-radius: 32px;
  font-family: "Montserrat";
  font-weight: 600;
  color: white;
  background-color: transparent;
  border-style: solid;
  border-color: #12e6c8;
  margin-top: 20px;
}

.button:hover{
  background-color: #12e6c8;
  color: #252525;
}