@import url('https://fonts.googleapis.com/css?family=Montserrat|Zilla+Slab&display=swap');

html {
  -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
*, *:before, *:after {
   -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
body {
  margin: 0;
  padding: 0;
}

.screen-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  widows: 100vw;
  background-color: whitesmoke;
}