.home{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background: #252525;
}

.image-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.home-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.home-container .center-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease;
    text-align: center;
}

.image{
    border-radius: 50%;
    margin-left: 20%;
    animation: leftFadeIn 1s ease-out;
    height: auto;
    width: 70%;
    max-width: 400px;
}

#title{
    margin-top: 8px;
}

#subtitle{
    color: #12e6c8;
    margin-top: 16px;
}

#description{
    max-width: 600px;
}

#download-cv {
    animation: fadeIn 2s ease forwards;
}

@keyframes leftFadeIn {
    from {
        opacity: 0;
        margin-left: 10%;
    }
    to {
        opacity: 1;
        margin-left: 20%;
    }
}

@keyframes rightFadeIn {
    from {
        opacity: 0;
        margin-left: 20%;
    }
    to {
        opacity: 1;
        margin-left: 0%;
    }
}


.disappear {
    animation: fadeIn 1s ease forwards; 
}

@keyframes fadeIn {
    from{ opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from{ opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOutIn {
    0% { opacity: 1}
    50% { opacity: 0}
    100% {opacity: 1}
}