.navbar{
    position: fixed;
    background-color: #393e46;
    display: flex;
    justify-content: flex-end;
    height: 64px;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
}

.navbar > div {
   display: flex;
   flex-direction: column;
   margin: 12px;
   justify-content: center;
   font-size: 1.4em;
   color: white;
   font-family: 'Montserrat', sans-serif;
}

.navbar > div:hover {
    color: #12e6c8;
}

