.progress{
    height: 32px;
    width: 100%;
    background-color: #393e46;
}

.progress-bar{
    background-color: #12e6c8;
    height: 100%;
    color: #252525;
    font-size: large;
    font-family: "Montserrat";
    font-weight: 600;
}