.about-me{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #252525;

}

.about-me #upper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.about-me #lower {
    margin-left: 5%;
    margin-right: 5%;
}

.about-me #left{
    display: flex;
    align-items: center;
}

.about-me #right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}


.about-me #portrait {
    border-radius: 0px 8px 35px 0px;
}

@media screen and (max-width: 800px){
    .about-me #portrait{
        display: none;
    }
}


.about-me #description{
}

.about-me #programming-languages{
    width: 100%;
}

.about-me #experience{
    margin-top: 20px;
    width: 100%;
}

.about-me #experience #experience-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
